*{
   font-size: 19px;
}

body{
   background-color: black;
   color: aliceblue;
}

.logo{
   border-radius: 50%;
}

h1{
   font-size: 2rem;
}
.header-nav a{
   color: aliceblue;
   display: inline;
   float: center;
   font-weight: bold;
   padding: 0 10px;
}

p{
   width: 70%;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 19px;
   line-height: 1.5rem;
}

#about{
   margin-top: 200px;
}